@charset "utf-8";
/*menu*/
#MenuSistema {
position: relative;
float:left;
width: auto;
height:38px;
background-image:url(./imgs/bg-menu-sistema.jpg);
background-repeat: repeat-x;
float:left;
margin:10px 0 0 0;
}
#LeftMenuSistema{
width:10px;
height:38px;
position: relative;
float:left;
background-image:url(./imgs/bg-menu-sistema-left.jpg);
}
#RightMenuSistema{
width:10px;
height:38px;
position: relative;
float:left;
background-image:url(./imgs/bg-menu-sistema-right.jpg);
}
ul#NavMenuSistema{
width: auto;
height:38px;
list-style:none;
margin:0;
padding:0;
position: relative;
float:left;
}
ul#NavMenuSistema li{
float:left;
padding:5px;
border-right:1px solid #999;
}
ul#NavMenuSistema li p{
display: block; /*importante!*/
text-decoration:none;
background-repeat:no-repeat;
margin:5px;
}
ul#NavMenuSistema li p a{
display: block; /*importante!*/
text-decoration:none;
color:#000;
}
ul#NavMenuSistema li p a:hover{
background-repeat:no-repeat;
color:#F60;
}

