.tweet
{
display: block;
background: white;
clear: both;
padding: .6em;
margin: .3em;
overflow: hidden;
}
.tweet img
{
float: left;
margin-right: 5px;
/*border: 2px solid #222;*/
background: white;
}
.tweet p.text
{
margin: 0;
padding: 0;
padding-left: 40px;
}
.monitter 
{
float: left;
width: 197px;
height: 300px;
margin: 5px;
background: white; 
overflow:hidden;
}
