/*MODULO PROGRAMACION*/
#ContModProg {position:relative; float:left; width:680px; padding:12px; background-image:url(./imgs/bg-panel.jpg); background-repeat:repeat-x;
}
#ContModProg h2{ background-image:url(./imgs/title-audioblogs.jpg); width:161px; height:21px; background-repeat:no-repeat; text-indent:-9999px;
}
#BoxAudioBlog { width:210px; height:98px; padding:5px; position:relative; float:left;
}
.BoxImpar { background-color:#EAE7DF}
.BoxPar { background-color:#D6D1BE}
.BoxCentro { margin:0 10px 0 10px;}
.Btn { border:0;}
#Spearker { position:absolute; bottom:5px; right:28px}
#rss { position:absolute; bottom:5px; right:5px}
#ThumbAudioBlog { position: absolute; width:64px; border:1px solid #000000; left:5px; top:5px}

#InfoAudioBlog {
    position: absolute;
    top:5px;
    left:69px;
    width:136px;
    margin:0 0 0 8px;
    
    word-wrap: break-word;
    overflow: hidden;
}