/*Podcasts Home*/
#PodcastsHome { width:208px; position:relative; float:left; margin:0 3px 0 0;
}
#PodcastsHome h2{ background-image:url(./imgs/title-podcasts.jpg); width:122px; height:18px; text-indent:-9999px; margin:20px 0 9px 11px; background-repeat:no-repeat;
}
#ThumbPodcastHome { width:208px; height:148px; position:relative; float:left; background-image:url(./imgs/bg-thumb-podcast.jpg);
}
#BotonesPodcastHome { width:99px; position:relative; margin:9px 0 0 0;
}
#BtnOir { width:49px; position:relative; margin:0 1px 0 0; float:left;
}
#BtnBajar { width:49px; position:relative; margin:0; float:left;
}
.Btn { border:0;
}
.thumbPodcastHome { margin:6px 0 0 6px;
}
#ModuloPodcastHome { width:185px; position:relative; float:left; padding:0 0 7px 0; border-bottom:1px solid #CCC; margin:5px 0 0 5px;
}
.FechaPodcastHome { font-size:11px; color:#000; margin:0;
}
.DescPodcastHome { font-size:11px; margin:0;
}

#HomePlayer {
    width:185px;
    margin:5px 0 0 5px;
}