<? include("header.html"); ?>

<style type="text/css" media="screen">
    <!--
    @import url("<? echo template_url; ?>css-library/menu-sistema.css");
    @import url("<? echo template_url; ?>css-library/contacto.css");
    @import url("<? echo template_url; ?>css-library/modulosComunidadLeft.css");
    -->
</style>

<script type="text/javascript">

    /*$(function()
    {
        $('textarea#comment').wysiwyg();
    });*/

    $(function(){

        $(".send").click( function(){
            
            var url_send = "<?php echo actions_url; ?>mail.php";

            var to = "<? echo get_config('email:comments'); ?>";
            var subject = "Comentario";

            var name = $("input#name").val();
            var surname = $("input#surname").val();
            var mail = $("input#email").val();
            var comment = $("textarea#comment").val();

            var msg = "Nombre: " + name + "\nApellido: " + surname + "\nE-Mail: " + mail + "\n\nComentario: " + comment;

            if( name == "" || surname == "" || mail == "" || comment == "" ) {
                $("#response").fadeIn('slow');
                $("#response").text("Faltan completar campos");

                setTimeout(function() {
                    $("#response").fadeOut('slow');
                }, 2000);

                return false;
            }

            if( mail.indexOf("@") == -1 ) {
                $("#response").fadeIn('slow');
                $("#response").text("El correo electronico no es válido");

                setTimeout(function() {
                    $("#response").fadeOut('slow');
                }, 2000);

                return false;
            }

            var vars = "to=" + to + "&from=" + mail + "&subject=" + subject + "&msg=" + msg;
            $.ajax({
                type: "POST",
                url: url_send,
                data: vars,
                success: function(html) {
                    $("#response").fadeIn('slow');
                    $("#response").text(html);

                    $("input#name").val("");
                    $("input#surname").val("");
                    $("input#email").val("");
                    $("textarea#comment").val("");

                    setTimeout(function() {
                        $("#response").fadeOut('slow');
                    }, 2000);
                }
            });
            return false;
        });

    });
</script>

<div id="ContMain">
    <div>
        <div id="Main">
            <div style="position:relative; width:960px">
                <div id="ContProgHome">
                    <div class="CornerLeft" id="CornerProgHome"></div>
                    <div id="ProgHome">
                        <div style="position:relative; float:left; margin:0; width:940px; padding:5px">
                            <div id="ColCentral">
                                <div style="position:relative; float:left; width:742px">
                                    <div id="ColIzq">
                                        <?php load_module_with_param("community/main.php","vertical" ); ?>
                                    </div>
                                    <div id="ColCentro">
                                        <div id="ContInst">
                                            <h1>INSTITUCIONAL</h1>
                                            <h2>Invitamos a contactarte con CVC a trav&eacute;s de este formulario de contacto:</h2>
                                            <div id="AreaForm">
                                                <p>Nombre:</p><input type="text" id="name" class="CampoTexto" />
                                                <p>Apellido:</p>
                                                <input type="text" id="surname" class="CampoTexto" />
                                                <p>Email:</p>
                                                <input type="text" id="email" class="CampoTexto" />
                                                <p>Comentario:</p>
                                                <textarea cols="" rows="5" class="CampoTexto" id="comment"></textarea>
                                                <div id="response"></div>
                                                <input type="button" class="send" id="send" value="enviar" />
                                            </div>
                                            <div style="position:relative; float:left; width:448px">
                                                <p><!--<strong>Escr&iacute;banos:</strong><br />
                                                    <a href="mailto:info@cvcafiliadas.com">info@cvcafiliadas.com</a><br />
                                                    <br />-->
                                             <!--       <br />
                                                   <strong> Env&iacute;enos una carta a:</strong><br />
                                                    Apartado Postal 26<br />
                                                    Villa Mar&iacute;a<br />
                                                    CP 5900 C&oacute;rdoba<br />
                                                    Argentina<br />
                                                    <br />
                                                    <strong>Le invita:</strong><br />
                                                    EQUIPO COORDINADOR DE AFILIADAS CVC</p>-->
                                             <div style="position:relative; float:left; width:448px; margin:10px 0 0 0">
                                                 <p><strong>Envíanos una carta a:</strong><br /></p>
                                                <h2>CVC La Voz</h2>
                                                <p>Apartado 2889<br />
                                                Miami, Florida 33144<br />
                                                Teléfono: 305 231-7704<br />
                                                Fax 305 231-7447<br /><br />

                                                <strong>Estudio de Aire:</strong> +1 305.512.1515<br />
                                                <strong>SMS:</strong> 001-55-140-461-16<br />
                                                <strong>Desde Argentina gratis:</strong> 0.351.569.1420<br /><br />

                                                <strong>En Argentina Oficina de Afiliados:</strong> +54 353.452.8826
                                                </p>
                                            </div>
                                            </div>
                                        </div>
                                        <div id="BottomInst"></div>
                                    </div>
                                </div>
                                <div id="ModCentralA">
                                    <?php load_module_with_param("intheair/main.php","horizontal" ); ?>
                                    <?php load_module("register"); ?>
                                </div>
                            </div>
                            <div id="ColDerIn">
                                <?php load_module("twitter_mod"); ?>
                                <?php load_module("flickr_mod"); ?>
                                <?php load_module("facebook_mod"); ?>
                            </div>
                        </div>
                    </div>
                    <div class="CornerRight" id="CornerProgHome"></div>
                </div>
            </div>
            <div style="position:relative; width:950px; padding:1px 5px 0 5px; margin:0;">
                <?php load_module("adsense"); ?>
            </div>
        </div>
    </div>
</div>
</div>
<? include("footer.html"); ?>