<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!--[if lt IE 7]>
<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>
<![endif]--> 
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>..:: CVC La Voz ::..</title>

<!-- JQuery Min for Cool Things -->
<script src="<?php echo javascript_url; ?>jquery-<?php echo get_config('jquery:version'); ?>.min.js" type="text/javascript"></script>
<!-- jQuery UI for the cool things be really cool -->
<!-- CSS -->
<link type="text/css" href="<?php echo javascript_url; ?>ui/css/base/ui.all.css" rel="stylesheet" />
<link type="text/css" href="<?php echo javascript_url; ?>ui/css/black-tie/jquery-ui-<?php echo get_config('jquery:uiversion'); ?>.custom.css" rel="stylesheet" />
<!-- JS -->
<script src="<?php echo javascript_url; ?>ui/jquery-ui-<?php echo get_config('jquery:uiversion'); ?>.custom.min.js" type="text/javascript"></script>

<script type="text/javascript">

    $("a[href]").attr("target", "_BLANK");

</script>

<style type="text/css" media="screen">
<!--
@import url("<? echo template_url; ?>css-library/estilos.css");
@import url("<? echo template_url; ?>css-library/menu.css");
@import url("<? echo template_url; ?>css-library/modulosComunidad.css");
@import url("<? echo template_url; ?>css-library/ColumnaRight.css");
-->
</style>
</head>

<body>
<div style="position:relative; width:100%">
  <div id="ContTop">
  <div id="Top">
    <div id="header">
      <div id="Menu">
        <ul id="Nav">
          <li id="Inicio"><a href="<?php echo get_config('menu:home'); ?>"><span>HOME</span></a></li>
          <li id="Institucional"><a href="<?php echo get_config('menu:institutional'); ?>"><span>INSTITUCIONAL</span></a></li>
          <li id="Programacion"><a href="<?php echo get_config('menu:programmes'); ?>"><span>PROGRAMACI&Oacute;N</span></a></li>
          <li id="TeAyudamos"><a href="<?php echo get_config('menu:wehelp'); ?>"><span>TE AYUDAMOS</span></a></li>
          <li id="TeEscuchamos"><a href="<?php echo get_config('menu:welisten'); ?>"><span>TE ESCUCHAMOS</span></a></li>
          <li id="Red"><a href="<?php echo get_config('menu:red'); ?>"><span>RED</span></a></li>
          <li id="Contacto"><a href="<?php echo get_config('menu:contact'); ?>"><span>CONTACTO</span></a></li>
        </ul>
      </div>
      <div id="headerHome">
        <div id="Logo"><img src="<? echo template_url; ?>imgs/logo-trans.png" width="244" height="134" /></div>
        <div id="BannerTop"><a href="<?php echo get_config('banner:toplink'); ?>"><img src="<?php echo get_config('banner:480x60'); ?>" width="468" height="60" alt="Iphone" /></a></div>
        <!--<div id="MarcadoresSociales">
          <ul id="MenuSsociales">
            <li class="SocialFacebook">
                <p><a href="#">facebook</a></p>
            </li>
            <li class="SocialTwitter">
              <p><a href="<?php echo get_config('menu:home'); ?>">Twitter</a></p>
            </li>
            <li class="SocialYoutube">
              <p><a href="#">Youtube</a></p>
            </li>
            <li class="SocialFlickr">
              <p><a href="#">Flickr</a></p>
            </li>
            <li class="SocialRss">
              <p><a href="#">rss</a></p>
            </li>
          </ul>
          </div>-->
      </div>
    </div>
  </div>
</div>