<? include("header.html"); ?>

<style type="text/css" media="screen">
<!--
@import url("<? echo template_url; ?>css-library/home.css");
-->
</style>

<div id="ContMain">
  <div>
    <div id="Main">
      <div style="position:relative; width:960px">
        <? load_module("schedule"); ?>
      </div>
      <div style="position:relative; width:950px; padding:1px 5px 0 5px; margin:0;">
        <div style="position:relative; float:left; margin:0; width:940px; background-color:#FFF; padding:5px">
          <div id="ColCentral">
        <div id="ModCentralA">
          <?php load_module_with_param("intheair/main.php","horizontal" ); ?>
          <?php load_module("register"); ?>
        </div>
        <?php load_module_with_param("community/main.php","horizontal" ); ?>
<div id="ModCentralMedia">
          <? load_module("podcast_home"); ?>
          <? load_module("video_home"); ?>
          <div id="ColDer">
            <?php load_module("twitter_mod"); ?>
            <?php load_module("flickr_mod"); ?>
            <?php load_module("facebook_mod"); ?>
            <?php load_module("tv"); ?>
          </div>
        </div>
        <?php load_module("adsense"); ?>
      </div>
      </div>
  </div>
  </div>
</div>
<? include("footer.html"); ?>