<? include("header.html"); ?>

<style type="text/css" media="screen">
<!--
@import url("<? echo template_url; ?>css-library/menu-sistema.css");
@import url("<? echo template_url; ?>css-library/institucional.css");
@import url("<? echo template_url; ?>css-library/modulosComunidadLeft.css");
@import url("<? echo template_url; ?>css-library/modulosCentralInterno.css");
-->
</style>

<div id="ContMain">
  <div>
    <div id="Main">
      <div style="position:relative; width:960px">
        <div id="ContProgHome">
          <div class="CornerLeft" id="CornerProgHome"></div>
              <div id="ProgHome">
                <div style="position:relative; float:left; margin:0; width:940px; padding:5px">
          <div id="ColCentral">
            <div style="position:relative; float:left; width:742px">
              <div id="ColIzq">
              <?php load_module_with_param("community/main.php","vertical" ); ?>
            </div>
              <div id="ColCentro">
              <div id="ContInst">
                <h1>INSTITUCIONAL</h1>
                <h2>CVC es una red que provee una variada y din&aacute;mica programaci&oacute;n radial en espa&ntilde;ol para toda Iberoam&eacute;rica, V&iacute;a Sat&eacute;lite, Internet y Onda Corta, desde sus estudios centrales en los Estados Unidos.</h2>
                <div style="position:relative; float:left; width:448px; margin:20px 0 20px 0">
                  <object width="448" height="275">
                    <param name="movie" value="http://www.youtube.com/v/98a0_wDhd9A&hl=es&fs=1&rel=0" />
                    <param name="allowFullScreen" value="true" />
                    <param name="allowscriptaccess" value="always" />
                    <embed src="http://www.youtube.com/v/98a0_wDhd9A&hl=es&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="448" height="275"></embed>
                  </object>
                </div>
                <div style="position:relative; float:left; width:448px">
                  <p>Abre espacios a personas de todas las edades, de diversos estratos socioecon&oacute;micos y educacionales, entregando m&uacute;sica, noticias, orientaci&oacute;n e informaci&oacute;n, ofreciendo respuestas a una variada gama de preguntas y necesidades.<br />
                    <br />
                    Como parte del grupo global de comunicaci&oacute;n &ldquo;Christian Vision&rdquo;, fundaci&oacute;n sin fines de lucro basada en Inglaterra,CVC tiene la misi&oacute;n de alcanzar a los 560 millones de hispanohablantes para presentar a Jesucristo de un modo contempor&aacute;neo y entendible para todas las audiencias.<br />
                    <br />
                    CVC ofrece gratuitamente su servicio satelital de radio a las emisoras interesadas en su programaci&oacute;n. Actualmente su se&ntilde;al llega a 22 pa&iacute;ses a trav&eacute;s de m&aacute;s de 320 afiliadas que transmiten en Am&eacute;rica, Espa&ntilde;a, Portugal y parte de la gran comunidad hispana en los Estados Unidos.</p>
                  </div>
              </div>
              <div id="BottomInst"></div>
              </div>
            </div>
            <div id="ModCentralA">
          <?php load_module_with_param("intheair/main.php","horizontal" ); ?>
          <?php load_module("register"); ?>
        </div>
          </div>
          <div id="ColDer">
            <? load_module("twitter_mod"); ?>
            <?php load_module("flickr_mod"); ?>
            <?php load_module("facebook_mod"); ?>
          </div>
        </div>
              </div>
              <div class="CornerRight" id="CornerProgHome"></div>
        </div>
      </div>
      <div style="position:relative; width:950px; padding:1px 5px 0 5px; margin:0;">
        <?php load_module("adsense"); ?>
      </div>
      </div>
  </div>
  </div>
</div>
<? include("footer.html"); ?>