<? include("header.html"); ?>

<style type="text/css" media="screen">
    <!--
    @import url("<? echo template_url; ?>css-library/programacion.css");
    -->
</style>

<div id="ContMain">
    <div>
        <div id="Main">
            <div style="position:relative; width:960px">
                <div id="ContProgHome">
                    <div class="CornerLeft" id="CornerProgHome"></div>
                    <div id="ProgHome">
                        <h1>PROGRAMACI&Oacute;N</h1>
                        <div style="position:relative; float:left; background-color:#FFF; width:950px">
                            <div style="position:relative; float:left; margin:0; width:940px; background-color:#FFF; padding:5px">
                                <div id="ColCentral">
                                    <div id="ModCentralA">
                                        <?php load_module_with_param("intheair/main.php","horizontal" ); ?>
                                        <?php load_module("register"); ?>
                                    </div>
                                    <div id="ContModProg">
                                        <?php
                                        if( get_config('blog:enabled') == 'yes' ) {
                                        load_module("block_audioblogs");
                                        }
                                        ?>
                                    </div>
                                    <div id="ModCentralComunidad">
                                        <?php load_module_with_param("community/main.php","horizontal" ); ?>
                                    </div>
                                </div>
                                <div id="ColDer">
                                    <? load_module("twitter_mod"); ?>
                                    <?php load_module("flickr_mod"); ?>
                                    <?php load_module("facebook_mod"); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="CornerRight" id="CornerProgHome"></div>
                </div>
            </div>
            <div style="position:relative; width:950px; padding:1px 5px 0 5px; margin:0;">
                <?php load_module("adsense"); ?>
            </div>
        </div>
    </div>
</div>
</div>
<? include("footer.html"); ?>