<?php include("header.html"); ?>
<?php
    header("Expires: Mon, 26 Jul 1997 05:00:00 GMT");
    header("Last-Modified: " . gmdate("D, d M Y H:i:s") . " GMT");
    header("Cache-Control: no-store, no-cache, must-revalidate");
    header("Cache-Control: post-check=0, pre-check=0", false);
    header("Pragma: no-cache");
 ?>
<style type="text/css" media="screen">
    <!--
    @import url("<?php echo template_url; ?>css-library/red.css");
    -->

    .CampoTexto { width:200px;
    }
</style>
<link href="<?php echo javascript_url; ?>uploadify/default.css" rel="stylesheet" type="text/css" />
<link href="<?php echo javascript_url; ?>uploadify/uploadify.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="<?php echo javascript_url; ?>uploadify/swfobject.js"></script>
<script type="text/javascript" src="<?php echo javascript_url; ?>uploadify/jquery.uploadify.v2.1.0.js"></script>

<script type="text/javascript">
    $(function() {
        $(".BtnGuardar").click(function() {
            var url_send = "<?php echo actions_url; ?>data.php";

            var name = $("input#name").val();
            var company = $("input#company").val();
            var position = $("input#position").val();
            var email = $("input#email").val();
            var description = $("textarea#description").val();
            var telephone = $("input#telephone").val();
            var website = $("input#website").val();
            var image = $("input#photo").val();

            var vars = "name=" + name + "&company=" +company + "&position=" + position + "&email=" + email + "&description=" + description
                + "&telephone=" + telephone + "&website=" + website + "&image=" + image;
            $.ajax({
                type: "POST",
                url: url_send,
                data: vars,
                success: function(html) {
                    $("#response").fadeIn('slow');
                    $("#response").text("");
                    $("#response").append(html);

                    setTimeout(function() {
                        $("#ContFoto").text("");
                        $("#ContFoto").append("<img src='" + image + "' width='139' height='104' />");
                        $("#response").fadeOut('slow');
                    }, 2000);
                }
            });
            return false;

        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#uploadify").uploadify({
            'uploader'       : '<?php echo javascript_url; ?>uploadify/uploadify.swf',
            'script'         : '<?php echo javascript_url; ?>uploadify/uploadify.php',
            'cancelImg'      : '<?php echo javascript_url; ?>uploadify/cancel.png',
            'folder'         : 'pictures',
            'queueID'        : 'fileQueue',
            'auto'           : true,
            'multi'          : false,
            'buttonText'     : 'Cargar',
            'fileDesc'       : 'Imagenes JPG',
            'fileExt'        : '*.jpg',

            onError: function (evt, queueID, fileObj, errorObj) {
                alert( errorObj['info'] );
            },
            onComplete: function (evt, queueID, fileObj, response, data) {
                var url_send = "<?php echo actions_url; ?>rename.php";

                var old = $("#photo").val();

                var vars = "filename=" + fileObj['name'] + "&old=" + old;
                $.ajax({
                    type: "POST",
                    url: url_send,
                    data: vars,
                    success: function(html) {
                        $("#photo").val(html);
                        $("#myPicture").attr("src", "");
                        $("#myPicture").attr("src", html);
                    }
                });
            }
        });
    });
</script>

<div id="ContMain">
    <div>
        <div id="Main">
            <div style="position:relative; width:960px">
                <div id="ContProgHome">
                    <div class="CornerLeft" id="CornerProgHome"></div>
                    <div id="ProgHome">
                        <h1>RED</h1>
                        <div style="position:relative; float:left; background-color:#FFF; width:950px">
                            <?php load_module("user_menu"); ?>
                        </div>
                        <div style="position:relative; float:left; margin:0; width:940px; background-color:#FFF; padding:5px">
                            <div id="ColCentral">
                                <div id="ModCentralRed">
                                    <div id="ColIzq">
                                        <?php load_module_with_param("intheair/main.php","vertical" ); ?>
                                        <div id="Skyscrapper"><a href="<?php echo get_config('banner:verticallink'); ?>"><img src="<?php echo get_config('banner:160x600'); ?>" alt="Iphone" width="160" height="600" class="Btn" /></a></div>
                                    </div>
                                    <div id="ColDatos">

                                        <h2>MI PERFIL</h2>
                                        <div id="response"></div>
                                        <form id="data">

                                            <div id="contMiPerfil">
                                                <div id="MiPerfilLeft">
                                                    <div id="AreaPerfil">
                                                        <h3>Nombre:</h3>
                                                        <p>
                                                            <input name="name" type="text" class="CampoTexto" id="name" value="<?php echo $user->name; ?>" />
                                                        </p>
                                                    </div>
                                                    <div id="AreaPerfil">
                                                        <h3>Empresa:</h3>
                                                        <p>
                                                            <input name="company" type="text" class="CampoTexto" id="company" value="<?php echo $user->company; ?>" />
                                                        </p>
                                                    </div>
                                                    <div id="AreaPerfil">
                                                        <h3>Cargo:</h3>
                                                        <p>
                                                            <input name="position" type="text" class="CampoTexto" id="position" value="<?php echo $user->position; ?>" />
                                                        </p>
                                                    </div>
                                                    <div id="AreaPerfil">
                                                        <h3>Email:</h3>
                                                        <p>
                                                            <input name="email" type="text" class="CampoTexto" id="email" value="<?php echo $user->email; ?>" />
                                                        </p>
                                                    </div>
                                                    <div id="AreaPerfil">
                                                        <h3>Foto:</h3>
                                                        <p>
                                                            <input type="text" class="CampoTexto" id="photo" value="<?php echo $user->image; ?>" />
                                                        <div id="fileQueue"></div>
                                                        <input type="file" name="uploadify" id="uploadify" />
                                                        <!--<p><a href="javascript:jQuery('#uploadify').uploadifyClearQueue()">Cancel All Uploads</a></p>-->
                                                    </div>
                                                </div>
                                                <div id="MiPerfilRight">
                                                    <div id="AreaPerfil">
                                                        <h3>Descripci&oacute;n:</h3>
                                                        <p>
                                                            <textarea name="description" cols="45" rows="5" class="CampoTexto" id="description"><?php echo $user->description; ?></textarea>
                                                        </p>
                                                    </div>
                                                    <div id="AreaPerfil">
                                                        <h3>Tel&eacute;fono:</h3>
                                                        <p>
                                                            <input name="telephone" type="text" class="CampoTexto" id="telephone" value="<?php echo $user->telephone; ?>" />
                                                        </p>
                                                    </div>
                                                    <div id="AreaPerfil">
                                                        <h3>Website:</h3>
                                                        <p>
                                                            <input name="website" type="text" class="CampoTexto" id="website" value="<?php echo $user->website; ?>" />
                                                        </p>
                                                    </div>
                                                    <div id="AreaPerfil">
                                                        <label>
                                                            <input name="button" type="submit" class="BtnGuardar" id="button" value="guardar" />
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="ColDerIn">
                                <?php load_module("twitter_mod"); ?>
                                <?php load_module("flickr_mod"); ?>
                                <?php load_module("facebook_mod"); ?>
                            </div>
                        </div>
                    </div>
                    <!--<div class="CornerRight" id="CornerProgHome"></div>-->
                </div>
            </div>
            <div style="position:relative; width:950px; padding:1px 5px 0 5px; margin:0;">
                <?php load_module("adsense"); ?>
            </div>
        </div>
    </div>
</div>
</div>
<? include("footer.html"); ?>