html {
    background-color: black;
}

#post {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    width: 455px;
    display: block;
    float: left;
    background-color: #333333;
}

#post #photo {
    float: left;
    width: 46px;
    border: 2px silver dashed;
    margin-left: 1px;
    margin-top: 1px;
}

#post #msg {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 2px;
    float: left;
    width: 390px;
}

#post #post-name {
    color: white;
    font-size: 14px;
    font-weight: bold;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;

    width: auto;
}

#post #post-name a {
    color: white;
}

#post #post-message {
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12px;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;

    word-wrap: break-word;
    overflow: hidden;

    width: auto;
    color: silver;
}