@charset "utf-8";

#chat {
    /*	border: #000 1px solid;*/
    margin-top: 28px;
    height: 400px;
    width: 480px;
    overflow-y: auto;
}

#colorselector {
    height: auto;
    display: none;
    background-color:#E5E5E5;
    border:1px solid #B5B5B5;
    position: absolute;
    top: 26px;
    right: 8px;
    float: right;
}

#whitecolor {
    float: left;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px black solid;
    margin: 2px 2px 2px 2px;
}

#blackcolor {
    float: left;
    width: 20px;
    height: 20px;
    background-color: black;
    border: 1px black solid;
    margin: 2px 2px 2px 2px;
}

#help {
    width: 470px;
    height: auto;
    margin-right: 5px;
    margin-left: 5px;
    position: absolute;
    top: 26px;
    float: left;
    background: white;
    border: 1px black solid;
    display: none;
    
    max-height: 450px;
    overflow-y: auto;
}

#help span {
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 5px;
    color: gray;
}

#help p {
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    margin-left: 5px;
    color: gray;
}

#suggestion {
    width: 470px;
    height: auto;
    margin-right: 5px;
    margin-left: 5px;
    position: absolute;
    top: 26px;
    float: left;
    background: white;
    border: 1px black solid;
    display: none;
}

#suggestion label {
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 2px;
    margin-left: 5px;
    color: gray;
    display: inline-block;
}

#suggestion input[type="text"] {
    width: 455px;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    margin-left: 5px;
}

#suggestion textarea {
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    width: 455px;
    margin-left: 5px;
}

#sendsuggest {
    position:relative;
    border-top: #879AC0 1px solid;
    border-right: #879AC0 1px solid;
    border-bottom: gray 1px solid;
    border-left: gray 1px solid;
    background-color: #637BAD;
    color: #FFF;
    font-weight:bold;
    float: right;
    right: 2px;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    padding: 2px 6px 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#postmessage {
    /*	border: #000 1px solid;*/
    margin-top: 5px;
    width: 480px;
}

#posting {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    width: 470px;
    display: block;
    float: left;
}

#posting #photo {
    float: left;
    width: 46px;
}

#posting #writemsg {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 2px;
    float: left;
    width: 400px;
}

#posting #writename {
    font-size: 14px;
    color: #00F;
    font-weight: bold;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;

    width: auto;
}

#posting #writemessage {
    font-style: italic;
    font-size: 14px;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;

    width: auto;
}

#send {
    position:relative;
    border-top: #879AC0 1px solid;
    border-right: #879AC0 1px solid;
    border-bottom: gray 1px solid;
    border-left: gray 1px solid;
    background-color: #637BAD;
    color: #FFF;
    font-weight:bold;
    float: right;
    right: 2px;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    padding: 2px 6px 3px;
}

#logout {
    position:relative;
    border-top: #879AC0 1px solid;
    border-right: #879AC0 1px solid;
    border-bottom: gray 1px solid;
    border-left: gray 1px solid;
    background-color: #637BAD;
    color: #FFF;
    font-weight:bold;
    float: right;
    right: 2px;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    padding: 2px 6px 3px;
}

#loadingimage {
    position:relative;
    float: right;
    right: 2px;
    margin-left: 2px;
    padding: 2px 6px 3px;
    display: none;
}

#fbbutton {
    position: relative;
    float: left;
}

#browsers {
    position: relative;
    float: left;
}

#browser {
    float: left;
    width: 24px;
    height: 24px;
}

#browsertext span {
    font-size: 11px;
    width: 150px;
    height: 24px;
}

#browser img {
    border: 0px;
}

#browser a {
    border: 0px;
}