/*GRAL*/
#MainBlog { width:505px; position:relative; float:left; padding:0; margin:8px 20px 8px 20px;
}
#ListadoPosts { position:relative; float:left; width:505px; margin:20px 0 0 0;
}
#ListadoPosts h2{ background-image: url(../imgs/audioblog/title-posts.jpg); width:299px; height:22px; margin:0; background-repeat:no-repeat; text-indent:-9999px;
}
/*POST*/
#ContPost { width:505px; position:relative; float:left; margin:20px 0 20px 0;  border-bottom:1px solid #000000;
}
#FechaPost { width:505px; position:relative; float:left; margin:0 0 5px 0;
}
#TitlePost { width:505px; position:relative; float:left; margin:0 0 5px 0;
}
#FotoPost { width:505px; position:relative; float:left; margin:0 0 5px 0;
}

#TextoPost {
    width:505px;
    position:relative;
    float:left;
    margin:0 0 5px 0;

    word-wrap: break-word;
    overflow: hidden;
}

#TextoPost img {
    margin: 5px 5px 5px 5px;
}

#TextoPost object {
    margin: 5px 5px 5px 5px;
    width: 405px;
    text-align: center;
}

#TextoPost a {
    word-wrap: break-word;
    overflow: hidden;
}

#SocialPost { width:505px; position:relative; float:left; margin:0 0 5px 0;
}
#ComentPost { width:505px; position:relative; float:left; margin:0 0 5px 0;
}
#ComentPost h4{ color:#FF3300;
}
#ComentPost h4 a{ color:#000000; text-decoration: none;
}
#Coment {
position:relative; float:left; width:505px; margin:0 0 20px 0;
}
#Coment h5{
color:#000000;
font-weight:bold;
}
#Coment p{
color: #006699;
}
.CampoTexto {
width:300px;
}
/*AUDIOBLOG*/
#headerAudioblog {width:960px; position:relative; height:212px; background-image: url(../imgs/audioblog/bg-header.jpg); background-repeat:no-repeat;
}
#PlayerPodcastsBlog { width:505px; position:relative; float:left;
}
#PlayerPodcastsBlog h2{ background-image: url(../imgs/audioblog/title-audios-del-programa.jpg); width:322px; height:26px; background-repeat:no-repeat; margin:0 0 20px 0; text-indent:-9999px;
}
/*TE AYUDAMOS*/
#headerTeAyudamos{width:960px; position:relative; height:212px; background-image: url(../imgs/te-ayudamos/header-te-ayudamos.jpg); background-repeat:no-repeat;
}
#ListadoPostsAyudamos { position:relative; float:left; width:416px; margin:20px 0 0 0;
}
#ListadoPostsAyudamos h2{ background-image: url(../imgs/te-ayudamos/title-te-ayudamos.jpg); width:187px; height:22px; margin:0; background-repeat:no-repeat; text-indent:-9999px;
}
/*TE ESCUCHAMOS*/
#headerTeEscuchamos{width:960px; position:relative; height:212px; background-image: url(../imgs/te-escuchamos/header-te-escuchamos.jpg); background-repeat:no-repeat;
}
#ListadoPostsEscuchamos { position:relative; float:left; width:416px; margin:20px 0 0 0;
}
#ListadoPostsEscuchamos h2{ background-image: url(../imgs/te-escuchamos/title-te-escuchamos.jpg); width:226px; height:22px; margin:0; background-repeat:no-repeat; text-indent:-9999px;
}