@charset "utf-8";
/* CSS Document */
body {background-color:#000; font-family:Arial, Helvetica, sans-serif; margin:0; padding:0; height:100%;
}

a img{
    border: 0px;
}

p { color: #737373; font-size:11px; margin:0;
}
p a{ text-decoration:none;
}
h2 { font-family: Tahoma, Geneva, sans-serif; font-size:20px; color:#333; font-weight:normal; margin:0;
}
h3 { font-family: Tahoma, Geneva, sans-serif; font-size:14px; color:#333; font-weight:bold; margin:0;
}
h4 { font-family: Tahoma, Geneva, sans-serif; font-size:12px; color:#000; font-weight:bold; margin:0;
}
h5 { font-family: Tahoma, Geneva, sans-serif; font-size:11px; color:#000; font-weight:normal; margin:0;
}
.BtnCancelar { background-color:#666; border:none; color:#FFF;
}
.BtnGuardar { background-color: #06C; border:none; color:#FFF;
}
/*BANNERS*/
#Skyscrapper { width:160px; height:600px; padding:5px; background-color: #DDD; position:relative; float:left; margin:20px 0 0 0;
}
#MediumRectangle { width:300px; height:250px; padding:5px; background-color: #DDD; position:relative; float:left; margin:20px 0 0 0;
}
/*TOP*/
#ContTop {background-image:url(../imgs/bg-top.jpg); background-repeat:repeat-x; height:242px; padding:0;
}
#Top {width:960px; margin:auto;
}
#header {width:960px; position:relative; height:242px;
}
#headerHome {width:960px; position:relative; height:212px; background-image:url(../imgs/bg-header.jpg); background-repeat:no-repeat;
}
#BordeTop { width:950px; height:18px; background-image:url(../imgs/bg-borde-top.jpg); background-repeat:repeat-x; margin:0 5px 0 5px; position:relative;
}
#Logo { position:absolute; top:28px; left:0;
}
#BannerTop { position:absolute; top:62px; left:483px; width:468px; height:60px;
}
/*MARCADORES SOCIALES*/
#MarcadoresSociales {position:absolute; top:164px; left:613px; width:342px; height:48px; background-image:url(../imgs/bg-social.jpg); background-repeat:no-repeat;
}
ul#MenuSsociales {
width:300px;
height:48px;
list-style:none;
margin:0 0 0 21px;
padding:0;
position:absolute;
left:0;
top:0;
}
ul#MenuSsociales li{
float:left;
width: auto;
padding:0 10px 0 10px;
margin:0;
}
ul#MenuSsociales li p{
display: block; /*importante!*/
text-decoration:none;
background-repeat:no-repeat;
text-align:center;
height:48px;
line-height:58px;
position:relative;
float:left
}
ul#MenuSsociales li p a{
display: block; /*importante!*/
text-decoration:none;
color: #FF6600;
font-weight:bold;
}
ul#MenuSsociales li p a:hover{
background-repeat:no-repeat;
color:#F60;
}
.SocialFacebook { background-image:url(../imgs/ico-facebook.jpg); background-repeat:no-repeat; background-position:center top;
}
.SocialTwitter { background-image:url(../imgs/ico-twitter.jpg); background-repeat:no-repeat; background-position:center top;
}
.SocialYoutube { background-image:url(../imgs/ico-youtube.jpg); background-repeat:no-repeat; background-position:center top;
}
.SocialFlickr { background-image:url(../imgs/ico-flickr.jpg); background-repeat:no-repeat; background-position:center top;
}
.SocialRss { background-image:url(../imgs/ico-rss.jpg); background-repeat:no-repeat; background-position:center top;
}
/*MAIN*/
#ContMain { background-image:url(../imgs/bg-main.jpg); background-repeat:repeat-x; background-color:#FFF; margin:0; padding:0;
}
#Main {width:960px; margin:auto; position:relative; display:table;
}

/*FOOTER*/
#footer { background-image:url(../imgs/bg-footer.jpg); background-repeat:repeat-x; background-color:#000; height:141px;
}
#DatosFooter {width:960px; position:relative; float:left; margin:20px 0 0 0;
}
#DatosFooter p{ font-size:10px; color:#999;
}
#DatosFooter p a{ text-decoration:none; color:#999;
}
#DatosFooter p a:hover{ text-decoration:none; color: #FFF;
}
#MenuFooter {position: relative; width:960px; height:30px;
}
ul#MenuFooter{width:960px; height:30px; list-style:none; margin:0; padding:0; position:absolute; left:0; top:0;
}
ul#MenuFooter li{float:left; padding-right:10px; margin:0 10px 0 0; border-right:1px solid #999;
}
#FirmaFooter {width:960px; position:relative; float:left; margin:30px 0 0 0;
}


