@charset "utf-8";
/*GRAL*/
#CornerProgHome { width:5px; position:relative; float:left; margin-top:18px; height:264px;
}
.CornerLeft {background-image:url(../imgs/corner-left.jpg); background-repeat:no-repeat;
}
.CornerRight {background-image:url(../imgs/corner-right.jpg); background-repeat:no-repeat;
}
#ProgHome { width:950px; position:relative; float:left; background-image:url(../imgs/bg-borde-top.jpg); background-repeat:repeat-x; padding-top:18px; background-color:#FFF;
}
#ModuloProgHome { position:relative; width:940px; margin:5px;
}
/*ver el display de este div!!!!!!!!!!!!!!*/
#ContHomeSecundario {width:950px; position:relative; float:left; padding:5px; display:inline;
}
#ColCentral {width:742px; position:relative; float:left; margin:0;
}

/*COLUMNA DERECHA*/
#ColDerIn { width:197px; position:relative; float:left; margin:0;
}
/*COLUMNA IZQUIERDA*/
#ColIzq { width:234px; position:relative; float:left; margin:20px 0 0 0;
}
/*POST*/
.Btn { border:0;
}

/*COL CENTRAL*/
#ColCentro { width:488px; position:relative; float:left; padding:0 10px 0 10px; margin:20px 0 0 0;
}
#ContInst { width:448px; position:relative; float:left; padding:20px; background-color:#DADADA; background-image:url(../imgs/institucional/top.jpg); background-repeat:no-repeat; background-position:top;
}
#BottomInst { width:448px; height:12px; position:relative; float:left; background-image:url(../imgs/institucional/bottom.jpg); background-repeat:no-repeat; background-position:center top;
}
#ContInst h1{ margin:0; background-image:url(../imgs/institucional/title-institucional.jpg); width:213px; height:23px; text-indent:-9999px; background-repeat:no-repeat;
}